<body class = index>
<h1>WELCOME TO RWBY OFF THE RAILS!</h1>
<h2>(a fan blog... and its also a gun)<h2>

<%= link_to 'Enter The Fray!', controller: 'articles' %>
<%= link_to 'New article', new_article_path %>
<%= link_to 'The Vault', passwords_path %>

</body>

