.newarticle {
    background-image: url("BLAKEC.png");
    color: #704F88;
    height: 100vh;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: right bottom;
}